* {
  padding: 0;
  margin: 0;
  position: relative;
  text-align: center;
}

#color-palette {
  width: 50%;
  margin: auto;
}

.color {
  display: inline-block;
  height: 80px;
  width: 80px;
  border: 1px solid black;
}

.pixel {
    display: inline-block;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    margin: 0px;
  }

#pixel-board {
    display: inline-block;
    width: 210px;
    height: 210px;
    line-height: 0;
  }

.selected .cor1{
    background-color: black;
}

.cor2 {
    background-color: #f00;
}

.cor3 {
    background-color: #00f;
}

.cor4 {
    background-color: #008000;
}

/* #clear-board {
  background-color: #f00;
} */