* {
  padding: 0;
  margin: 0;
  border: 0;
  position: relative;
  text-align: center;
}

#color-palette {
  width: 50%;
  margin: auto;
}

.color {
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 1px solid black;
}
