* {
  padding: 0;
  margin: 0;
  border: 0;
  position: relative;
  text-align: center;
}

#color-palette {
  width: 50%;
  margin: auto;
}

.color {
  display: inline-block;
  height: 80px;
  width: 80px;
  border: 1px solid black;
}

.pixel {
    display: inline-block;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    margin: 0px;
  }

#pixel-board {
    display: inline-block;
    width: 250px;
    height: 250px;
    margin: 15px;
  }

.color-selected{
    background-color: black;
}
